body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-image: url(../numbers.jpg);
}
.container{
  background-color:#e6e6e6;
  margin-top: 15%;
  border-radius: 5px;
  border: 2px dashed #000;
  padding: 3rem;
}
button{
  margin: 4rem;
}
ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  color: #009999;

}
